.employee-selector-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .employee-selector-list{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgb(181, 181, 181);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
#employee-selector-list-option{
   border-right:1px solid rgb(181, 181, 181);
}
.button-container {
    display: flex;
    align-items: stretch; /* Ensure the buttons and line have the same height */
    border: 1px solid black; /* Outer border around the buttons */
    width: fit-content;
    padding: 0;
    border-radius: 10px;
    background-color: #000000;
    margin-bottom: 20px;
  }
  
  .button-container-one,.button-container-two {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  .button-container-one{
    border-radius: 8px 0px 0px 8px;
  }
  .button-container-two{
    border-radius: 0px 8px 8px 0px;
  }
  .separator {
    width: 1px;
    background-color: black;
    height: 100%; /* Stretch to the full height of the container */
  }
  .activeButton{
    background-color: rgb(230, 229, 229);
  }