:root {
  --Components-Badges-Green-fg-green: #4e8729;
  --Components-Badges-Dark-Orange-fg-dark-orange: #e92b0d;
  --Components-Badges-Yellow-fg-yellow: #a16207;
  --Text-Primary-fg-text-primary: #1a1a1a;
}
